*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.title-table{
  text-align: center;
}

.cabecalho-table{
  background-color: rgb(222, 216, 216);
}

.tabela{
  border: 3px solid rgb(186, 186, 186);
  border-collapse: collapse;
}

.tabela th, .tabela td{
  border: 3px solid rgb(161, 158, 158);
  padding: 8px;
}